{% comment %}
  CARD PRODUCT MODIFICADO PARA PROMOCIONES
{% endcomment %}

{%- unless skip_styles -%}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if card_product and card_product != empty -%}
  <div class="rp-card">
    <a href="{{ card_product.url }}" class="rp-card__media">
      {% if card_product.featured_media %}
        <img
          src="{{ card_product.featured_media | image_url: width: 600 }}"
          alt="{{ card_product.featured_media.alt | default: card_product.title | escape }}"
          loading="lazy"
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.featured_media.height }}"
        >
      {% endif %}

      {%- if card_product.compare_at_price > card_product.price -%}
        <span class="rp-card__badge">OFERTA</span>
      {%- endif -%}
    </a>

    <div class="rp-card__info">
      <h3 class="rp-card__title">
        <a href="{{ card_product.url }}">
          {{ card_product.title | escape }}
        </a>
      </h3>

      <div class="rp-card__price">
        {% if card_product.compare_at_price > card_product.price %}
          <span class="rp-price-old">
            {{ card_product.compare_at_price | money }}
          </span>

          <span class="rp-price-new">
            {{ card_product.price | money }}
          </span>
        {% else %}
          <span class="rp-price-normal">
            {{ card_product.price | money }}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
{%- endif -%}